@import "tailwindcss";
@keyframes ringExpand {
  0% {
    transform: scale(0.6);
    opacity: 0.8;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ring {
  animation: ringExpand 4s infinite ease-out;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}
